@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/eot/iranyekanwebbold.eot');
    src: url('../fonts/eot/iranyekanwebbold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/woff2/iranyekanwebbold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/iranyekanwebbold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/iranyekanwebbold.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/eot/iranyekanweblight.eot');
    src: url('../fonts/eot/iranyekanweblight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/woff2/iranyekanweblight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/iranyekanweblight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/iranyekanweblight.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/eot/iranyekanwebregular.eot');
    src: url('../fonts/eot/iranyekanwebregular.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/woff2/iranyekanwebregular.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/iranyekanwebregular.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/iranyekanwebregular.ttf') format('truetype');
}


/* Latin fonts (Roboto) */

@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/eot/robotobold.eot');
    src: url('../fonts/eot/robotobold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/woff2/robotobold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/robotobold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/robotobold.ttf') format('truetype');
}

@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/eot/robotolight.eot');
    src: url('../fonts/eot/robotolight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/woff2/robotolight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/robotolight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/robotolight.ttf') format('truetype');
}

@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/eot/robotoregular.eot');
    src: url('../fonts/eot/robotoregular.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/woff2/robotoregular.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/robotoregular.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/robotoregular.ttf') format('truetype');
}

@font-face {
    font-family: BYekan;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/BYekan.eot');
    src: url('../fonts/BYekan.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/BYekan.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/BYekan.ttf') format('truetype');
}

@font-face {
    font-family: Rezvan;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/Rezvan.eot');
    src: url('../fonts/Rezvan.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/Rezvan.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/Rezvan.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/Rezvan.ttf') format('truetype');
}

@font-face {
    font-family: BKoodakBold;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/BKoodakBold.eot');
    src: url('../fonts/BKoodakBold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/BKoodakBold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/BKoodakBold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/BKoodakBold.ttf') format('truetype');
}

h2,
h3,
h4,
h5,
h6 {
    font-family: iranyekan!important;
}

p,
span,
a,
div,
h1 {
    font-family: iranyekan!important;
}

.byekan {
    font-family: BYekan!important;
}

.iranyekan {
    font-family: iranyekan!important;
}


.borj-rtl {
  direction: rtl;
  text-align: right;}

.borj-ltr {
  direction: ltr;
  text-align: right;}

.borj-mr{
margin-right: 160px;
}

.borj-right{
margin-right: 68px;
}

.borj-padding{
padding: 0 0 0 0!important;
}

    .gt3_delimiter1 {
        height: 1em;
    }

    .gt3_delimiter1 {
        border-color: #ffffff;
    }

    .gt3_delimiter2 {
        height: 1em;
    }

    .gt3_delimiter2 {
        border-color: #ffffff;
    }

    .gt3_delimiter3 {
        height: 1em;
    }

    .gt3_delimiter3 {
        border-color: #ffffff;
    }

    .gt3_delimiter4 {
        height: 1em;
    }

    .gt3_delimiter4 {
        border-color: #ffffff;
    }

    .gt3_delimiter5 {
        height: 1em;
    }

    .gt3_delimiter5 {
        border-color: #ffffff;
    }

    .gt3_delimiter6 {
        height: 1em;
    }

    .gt3_delimiter6 {
        border-color: #ffffff;
    }
